{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'myapp/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'myapp/js/bot.js' %}"></script>
{% csrf_token %}
    <div class="chat_window">
        <div class="top_menu">
            <div class="title">DevOps - FAQ BOT</div>
        </div>
        <ul class="messages">

            {% for chat in chat_history %}

                {% if chat.type == "BOT" %}
                <li class="message left appeared">
                    <div class="avatar">
                        <img class="bot-logo rounded-circle">
                    </div>
                    <div class="text_wrapper">
                        <div class="text">{{ chat.text }}</div>
                    </div>
                </li>
                {% endif %}

                {% if chat.type == "HUMAN" %}
                <li class="message right appeared">
                    <div class="avatar">
                        <img class="bot-logo rounded-circle">
                    </div>
                    <div class="text_wrapper">
                        <div class="text">{{ chat.text }}</div>
                    </div>
                </li>
                {% endif %}

            {% endfor %}
        </ul>
        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <input class="message_input" placeholder="Ask your question here...">
            </div>
            <div class="faqbot_send send_message">
                <div class="icon"></div>
                <div class="text">Send</div>
            </div>
        </div>
    </div>